:root {
    --color-d-1: #171A1C;
    --color-d-2: #15191B;
    --color-d-3: #D0D0D0;
    --color-d-4: rgb(34, 40, 42);
    --color-d-5: rgb(48, 52, 54);
    --color-d-6: rgb(61, 65, 67);
    --color-blue: #2B6380;
    --txt-d-color2: #A1A7AA;
}